<div>
  <ol class="breadcrumb">
    <li class="current"><em>ตั้งค่า</em></li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12">
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="companyPayeeForm">
      <div class="container-fluid">
        <div class="submenu">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <h2>รหัสบริษัท</h2>
            </div>
          </div>
        </div>
        <mat-card>
          <br />
          <div class="row d-flex-center">
            <div class="col-12 col-md-2">
              <button
                (click)="openDialogSearchMaster('departmentCodeFrom')"
                class="btn btn-primary"
                type="button"
                type="button"
              >
                สร้างรหัสหน่วยงาน
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-12">
              <div class="example-item">
                <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
                  <ng-container matColumnDef="companyCode">
                    <th *matHeaderCellDef class="info" mat-header-cell>รหัสหน่วยงาน</th>
                    <td *matCellDef="let element" mat-cell>{{ element.companyCode }}</td>
                  </ng-container>
                  <ng-container matColumnDef="companyName">
                    <th *matHeaderCellDef class="info th-width-40" mat-header-cell>ชื่อหน่วยงาน</th>
                    <td *matCellDef="let element" mat-cell>{{ element.companyName }}</td>
                  </ng-container>
                  <ng-container matColumnDef="edit">
                    <th *matHeaderCellDef class="info" mat-header-cell></th>
                    <td *matCellDef="let element" mat-cell>
                      <div class="d-flex-center no-wrap">
                        <button
                          (click)="openDialogCompanyPayeeConfig(element)"
                          class="btn btn-success d-flex-center"
                          type="button"
                        >
                          <i class="material-icons">edit</i>
                        </button>
                        <button
                          (click)="deleteInputCompanyCode(element)"
                          [hidden]="element.companyCode === '99999'"
                          class="btn btn-danger"
                          type="button"
                        >
                          <i class="material-icons">clear</i>
                        </button>
                        <button (click)="copy(element)" class="btn btn-secondary" type="button">
                          <i class="material-icons">file_copy</i>
                        </button>
                        <button
                          (click)="routeToCompanyPayingBankConfig(element)"
                          [hidden]="element.companyCode !== '99999'"
                          class="btn btn-primary"
                          type="button"
                        >
                          ธนาคารตัวแทน
                        </button>
                      </div>
                    </td>
                  </ng-container>
                  <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
                  <tr
                    (click)="row.highlighted = !row.highlighted"
                    (mouseout)="row.hovered = false"
                    (mouseover)="row.hovered = true"
                    *matRowDef="let row; columns: displayedColumns"
                    [ngClass]="{ hovered: row.hovered, highlighted: row.highlighted }"
                    mat-row
                  ></tr>
                </table>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </form>
  </div>
</div>
