<ol class="breadcrumb">
  <li><a [routerLink]="['/companyPaying']"> รหัสบริษัทที่ชำระเงิน </a></li>
  <li>
    <a
      [queryParams]="{ companyPayingId: companyPayingId }"
      [routerLink]="['/companyPayingPayMethod']"
    >
      ธนาคารตัวแทน
    </a>
  </li>
  <li class="current"><em> การปรับปรุงข้อมูลรหัสบริษัทสำหรับวิธีการชำระเงิน </em></li>
</ol>
<div class="row">
  <div class="col-md-12">
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="companyPayingPayMethodConfigForm">
      <div class="container-fluid">
        <div class="submenu">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <h2>การปรับปรุงข้อมูลรหัสบริษัทสำหรับวิธีการชำระเงิน</h2>
            </div>
          </div>
        </div>
        <mat-card>
          <div class="row mb-3">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-4">
              <label class="text-black input-head"><b>บริษัทชำระ : </b></label>
              <input
                class="form-control"
                disabled
                formControlName="companyPayingCode"
                maxLength="5"
                type="text"
              />
            </div>
            <div class="col-12 col-md-4">
              <label class="text-black input-head"><b>วิธีชำระเงิน : </b></label>
              <input
                class="form-control"
                disabled
                formControlName="payMethod"
                maxLength="5"
                type="text"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-4">
              <label class="text-black input-head"
                ><b>ชื่อบริษัทชำระ : {{ companyPayingName }} </b></label
              >
            </div>
            <div class="col-12 col-md-4">
              <label class="text-black input-head"
                ><b>ชื่อวิธีชำระเงิน : {{ payMethodName }} </b></label
              >
            </div>
          </div>
          <br />
          <div class="row mb-3">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-4">
              <label class="text-black input-head"><b>การจำกัดจำนวนเงิน</b></label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-2">
              <label class="text-black">จำนวนเงินต่ำสุด</label>
            </div>
            <div class="col-12 col-md-4">
              <div class="d-flex input-with-unit">
                <input
                  appCurrency
                  class="form-control"
                  formControlName="minimumAmount"
                  type="text"
                />
                <span> บาท </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-2">
              <label class="text-black">จำนวนเงินสูงสุด</label>
            </div>
            <div class="col-12 col-md-4">
              <div class="d-flex input-with-unit">
                <input
                  appCurrency
                  class="form-control"
                  formControlName="maximumAmount"
                  type="text"
                />
                <span> บาท </span>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-md-4">
              <label class="text-black input-head"
                ><b>การชำระเงินต่างประเทศ/ชำระด้วยสกุลเงินต่างประเทศ</b></label
              >
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-md-4">
              <input formControlName="allowedBankAnotherCountry" maxLength="10" type="checkbox" />
              <label class="text-black pl-3"> คู่ค้าธุรกิจต่างประเทศที่อนุญาต </label>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-md-4">
              <input
                formControlName="allowedCurrencyAnotherCountry"
                maxLength="10"
                type="checkbox"
              />
              <label class="text-black pl-3"> สกุลเงินต่างประเทศที่อนุญาต </label>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-md-4">
              <input
                formControlName="allowedPartnerAnotherCountry"
                maxLength="10"
                type="checkbox"
              />
              <label class="text-black pl-3"> อนุญาตธนาคารลูกค้าและผู้ขายตปท.? </label>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-md-4">
              <label class="text-black input-head"><b>การจัดกลุ่มรายการ</b></label>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-md-4">
              <input formControlName="allowedSinglePayment" maxLength="10" type="checkbox" />
              <label class="text-black pl-3"> การชำระเดี่ยวสำหรับรายการที่เลือก </label>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-8 text-center">
              <button
                (click)="insertCompanyPayingPayMethodConfig(companyPayingPayMethodConfigForm.value)"
                class="btn btn-success btn-w120"
                type="button"
              >
                บันทึก
              </button>
            </div>
            <div class="col-12 col-md-4"></div>
          </div>
          <!-- <div class="row">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-10">
              <div class="example-item">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="companyCode">
                    <th mat-header-cell *matHeaderCellDef class="info"> รหัสหน่วยงาน </th>
                    <td mat-cell *matCellDef="let element">{{element.companyCode}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="companyName">
                    <th mat-header-cell *matHeaderCellDef class="info"> ชื่อหน่วยงาน </th>
                    <td mat-cell *matCellDef="let element">{{element.companyName}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef class="info"> </th>
                    <td mat-cell *matCellDef="let element">
                      <button type="button" class="btn btn-detail"
                        (click)="routeToCompanyPayingBankConfig(element)">
                        การเลือกธนาคาร
                      </button>
                      <button type="button" class="btn btn-success"
                        (click)="openDialogCompanyPayingConfig(element)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button type="button" class="btn btn-danger" (click)="deleteInputCompanyCode(element)">
                        <i class="material-icons">clear</i>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"
                    (click)="row.highlighted = !row.highlighted" (mouseover)="row.hovered = true"
                    (mouseout)="row.hovered = false"></tr>
                </table>
              </div>

            </div>

          </div> -->
        </mat-card>
      </div>
    </form>
  </div>
</div>
