<div mat-dialog-title>
  <button (click)="closeDialog()" class="close" mat-button>X</button>
  <h1 cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane"><b>ตัวเลือก เงื่อนไข</b></h1>
</div>

<div mat-dialog-content>
  <div class="row">
    <div class="col-12 col-md-1" style="padding-top: 5px;">
      <span>ค้นหา:</span>
    </div>
    <div class="col-12 col-md-4">
      <input #searchValue class="form-control" type="text" />
      <p class="text-red">{{ errorMessage }}</p>
    </div>
    <div class="col-12 col-md-3 btn-with-tooltip">
      <button
        (click)="search(searchValue); click()"
        [disabled]="isLoading"
        class="btn btn-info"
        mat-icon-button
      >
        <i [ngClass]="{ 'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading }" class="fa"></i>
        <span>เริ่มค้นหา</span>
      </button>
      &nbsp;
      <span class="tooltip-container">
        <img src="assets/images/icon/question.png" />
        <span class="tooltip-content">
          <p>
            ตัวอย่าง <br />- ต้องการหา เลข ที่ตามหลังด้วย 011 : พิมพ์ *011 <br />- ต้องการหา เลข
            ที่ขึ้นต้นด้วย 011 : พิมพ์ 011* <br />- ต้องการหา เลข ที่ขึ้นต้นด้วย 01 ลงท้ายด้วย 1 :
            พิมพ์ 01*1
          </p>
        </span>
      </span>
    </div>
    <div class="col-12 col-md-4">
      <input (keyup)="applyFilter($event.target.value)" class="form-control" placeholder="Filter" />
    </div>
  </div>
  <div class="date_dialog">
    <br />
    <div class="example-item">
      <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
        <ng-container matColumnDef="choose">
          <th *matHeaderCellDef class="info th-width-20" mat-header-cell>เลือก</th>
          <td (click)="chooseDataSearch(element)" *matCellDef="let element" mat-cell>
            <mat-icon class="icon pointer">folder_open</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef class="info" mat-header-cell mat-sort-header>ชื่อ</th>
          <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="createdBy">
          <th *matHeaderCellDef class="info" mat-header-cell mat-sort-header>ผู้สร้าง</th>
          <td *matCellDef="let element" mat-cell>{{ element.createdBy }}</td>
        </ng-container>
        <ng-container matColumnDef="created">
          <th *matHeaderCellDef class="info" mat-header-cell mat-sort-header>วันที่สร้าง</th>
          <td *matCellDef="let element" mat-cell>
            {{ element.created ? element.created : element.updated }}
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th *matHeaderCellDef class="info" mat-header-cell mat-sort-header></th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="deleteInput(element)" class="btn btn-danger" type="button">
              <i class="material-icons">clear</i>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr
          (click)="row.highlighted = !row.highlighted"
          (mouseout)="row.hovered = false"
          (mouseover)="row.hovered = true"
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{ hovered: row.hovered, highlighted: row.highlighted }"
          mat-row
        ></tr>
      </table>
    </div>
  </div>
</div>
