<mat-toolbar class="header-toolbar" color="primary">
  <h3 class="title">รายละเอียดการอนุมัติเอกสารภายในวัน</h3>
</mat-toolbar>
<div class="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <label class="text-black">วันที่อนุมัติ/ยกเลิก :</label>
      </div>
      <div class="col-md-2">
        <label class="text-black"> 19 มกราคม 2513 </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label class="text-black">ปรับสถานะเอกสารจาก :</label>
      </div>
      <div class="col-md-2">
        <label class="text-black">B เป็น</label>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-md-12 table-responsive long-data-table">
          <table border="1">
            <!-- Row A -->
            <tr class="theadinfo">
              <td colspan="34">ประมวลผลวันที่</td>
            </tr>
            <tr class="theadinfo">
              <td colspan="34">ประมวลผลโดย</td>
            </tr>
            <tr class="theadinfo">
              <td colspan="2" style="width: 100px;">รหัส</td>
              <td colspan="2" style="width: 100px;">จาก</td>
              <td colspan="2" style="width: 150px;">ว/ท อนุมัติ</td>
              <td colspan="2" style="width: 150px;">เวลาปรับ</td>
              <td colspan="2" style="width: 100px;">หน.</td>
              <td colspan="2" style="width: 100px;">จว.</td>
              <td colspan="2" style="width: 300px;">หน่วยเบิกจ่าย</td>
              <td colspan="2" style="width: 100px;">ปภ</td>
              <td colspan="2" style="width: 150px;">ปี</td>
              <td colspan="2" style="width: 300px;">เลขเอกสาร</td>
              <td colspan="2" style="width: 150px;">ว/ทผ่านบ/ช</td>
              <td colspan="2" style="width: 100px;">PM</td>
              <td colspan="2" style="width: 300px;">จำนวนขอเบิก</td>
              <td colspan="2" style="width: 300px;">หักภาษี/ค่าปรับ</td>
              <td colspan="2" style="width: 300px;">ยอดสุทธิ</td>
              <td colspan="2" style="width: 200px;">รหัสผู้ขาย</td>
              <td colspan="2" style="width: 300px;">ผู้ขายหรือหน่วยงาน</td>
            </tr>
            <ng-container *ngFor="let item of report.items">
              <tr class="highlight-company">
                <td colspan="34">หน่วยงาน {{ item.companyName }}</td>
              </tr>
              <tr *ngFor="let detail of item.detail" class="none-border-bottom">
                <td colspan="2" style="width: 100px;"></td>
                <td colspan="2" style="width: 100px;">{{ detail.status }}</td>
                <td colspan="2" style="width: 150px;">{{ detail.approveDate | thaidate }}</td>
                <td colspan="2" style="width: 150px;">
                  {{ detail.approveDate | date: 'HH:mm:ss' }}
                </td>
                <td colspan="2" style="width: 100px;">{{ detail.companyCode }}</td>
                <td colspan="2" style="width: 100px;">{{ detail.area }}</td>
                <td colspan="2" style="width: 300px;">{{ detail.paymentCenter }}</td>
                <td colspan="2" style="width: 100px;">{{ detail.docType }}</td>
                <td colspan="2" style="width: 150px;">{{ detail.fiscalYear }}</td>
                <td colspan="2" style="width: 300px;">{{ detail.accDocNo }}</td>
                <td colspan="2" style="width: 150px;">{{ detail.postDate | thaidate }}</td>
                <td colspan="2" style="width: 100px;">{{ detail.paymentMethod }}</td>
                <td colspan="2" style="width: 300px;">{{ detail.amount | bigdecimal }}</td>
                <td colspan="2" style="width: 300px;">{{ detail.taxFee | bigdecimal }}</td>
                <td colspan="2" style="width: 300px;">{{ detail.netPrice | bigdecimal }}</td>
                <td colspan="2" style="width: 200px;">{{ detail.vendor }}</td>
                <td colspan="2" style="width: 300px;">{{ detail.vendorName }}</td>
              </tr>
              <tr class="summary">
                <td colspan="24">สรุปยอดตามหน่วยงาน {{ item.companyName }}</td>
                <td colspan="2" style="width: 300px;">{{ item.sumAmount | bigdecimal }}</td>
                <td colspan="2" style="width: 300px;">{{ item.sumTaxFee | bigdecimal }}</td>
                <td colspan="2" style="width: 300px;">{{ item.sumNetPrice | bigdecimal }}</td>
                <td colspan="4" style="width: 500px;"></td>
              </tr>
            </ng-container>
            <tr class="summary-total">
              <td colspan="24">รวมทั้งหมด</td>
              <td colspan="2" style="width: 300px;">{{ report.totalAmount | bigdecimal }}</td>
              <td colspan="2" style="width: 300px;">{{ report.totalTaxFee | bigdecimal }}</td>
              <td colspan="2" style="width: 300px;">{{ report.totalNetPrice | bigdecimal }}</td>
              <td colspan="4" style="width: 500px;"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
