.mat-column-logDate {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.mat-column-Time {
  border-right: 1px solid #dfdfdf;
  padding-left: 10px;
}

.mat-column-messageText {
  border-right: 1px solid #dfdfdf;
  padding-left: 10px;
}

.mat-column-messageClass {
  border-right: 1px solid #dfdfdf;
  padding-left: 10px;
}

.mat-column-messageNo {
  border-right: 1px solid #dfdfdf;
  padding-left: 10px;
}

.mat-column-messageType {
  border-right: 1px solid #dfdfdf;
  padding-left: 10px;
}

.table-log tr.mat-row {
  height: 35px;
}
