<div mat-dialog-title>
  <button (click)="clickCancel()" class="close" mat-button>X</button>
  <h1 cdkDrag cdkDragHandle cdkDragRootElement=".cdk-overlay-pane"><b>สร้าง/แก้ไข</b></h1>
</div>
<div mat-dialog-content>
  <form (keydown.enter)="$event.preventDefault()" [formGroup]="saveColumnForm">
    <div class="row margin-tb-size">
      <div class="col-md-12 text-left">
        <label class="text-black input-head">ชื่อ</label>
      </div>
      <div class="col-md-12">
        <input
          class="form-control"
          formControlName="name"
          maxLength="20"
          type="text"
          [readonly]="data.type === 'edit'"
        />
      </div>
    </div>
    <div class="row margin-tb-size">
      <div class="col-md-12">
        <mat-checkbox formControlName="userOnly">
          เฉพาะผู้ใช้
        </mat-checkbox>
      </div>
    </div>

    <hr class="under-title" />
    <div class="row">
      <div class="col-md-6">
        <button (click)="clickSave()" class="btn btn-success btn-lg" type="button">
          <i class="material-icons">done</i>
        </button>
      </div>
      <div class="col-md-6">
        <button (click)="clickCancel()" class="btn btn-danger btn-lg" type="button">
          <i class="material-icons">clear</i>
        </button>
      </div>
    </div>
  </form>
</div>
